In this assignment, we must filters out top N cryptocurrencies by market capitalization. To do this, I used the data on the coingecko.com website. For the data, I grabbed the library and then wrote a function for filters out top N cryptocurrencies by market capitalization. In this repository you can find library path, code for filters out top N cryptocurrencies by market capitalization.